*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: monospace;
}
.hero_section{
	background-image: url(https://plus.unsplash.com/premium_photo-1670601440146-3b33dfcd7e17?q=80&w=1538&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
    padding: 20px;
    height: 40vh;
    background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search_btn{
    font-size: 19px;
    width: 100%;
    font-weight: 800;
    padding: 10px 16px 10px 10px;
    border-radius: 10px;
	border:none;
	box-shadow: 0px 0px 26px 2px #100f0f;

}
.search_btn:focus-visible{
	outline: none;
	box-shadow: 0px 0px 26px 15px #100f0f;
}
form{
	position: relative;
    width:40%;
}
.submitbtn{
	position: absolute;
    right: 0px;
    top: 51%;
    transform: translateY(-50%);
    padding: 7px;
    border-radius: 20%;
    border: #fff;
    font-size: 21px;

	background-color: #ffffff;
	
}
.submitbtn:hover{
	cursor: pointer;
}

.content{
	padding: 20px;
}
.nomeal{
	font-size:24px;
	font-weight:bold;
	text-transform: uppercase;
	text-align: center;
    width: 100%;   
}

.cardsection{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	
}
.card{
	flex-basis: 25%;	

}
.card-content{
	padding:10px;
	margin:20px;
	background-color: #fff;
	opacity: 0;
    transition: opacity 0.8s ease;
	
}
.card-content:hover{
	box-shadow: 0px 0px 20px #504b4b;
}
.card-content.visible {
    opacity: 1;
}
.card img{
	width: 100%;
	
}
.title{
	text-align: center
}

@media (max-width:992px) {
	.card{
		flex-basis: 50%;
	}
	form{
		width:80%;
	}
}
@media (max-width:768px) {
	.card{
		flex-basis: 100%;
	}
	form{
		width:80%;
	}
}